{{ partial "head.html" . }}
<div id="content">
    <div class="fwContainer">
        <h1>Error 404: page not found</h1>
        <p>Sorry but the page you were looking for has probably moved</p>

            <div class="content">
                <p>{{.Description}}</p>
                <ul>
                    {{ range where .Site.Pages "Params.menu" $.Params.menu.main.identifier }}
                    {{ partial "widgets/list-summary.html" .}}
                    {{ end }}

                    {{ $group :=  $.Params.menu.main.identifier }}

                    {{ range where .Site.Pages "Type" "category" }}

                    {{ if eq .Params.menu.main.parent $group }}

                    {{ partial "widgets/list-summary.html" .}}

                    {{ end }}

                    {{ end }}
                </ul>

            </div>
            <div class="sidebarContainer">
                {{ with .File }}
                    {{ partial "widgets/sidebar.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ partial "foot.html" . }}
