<div class="sidebar">
  <p style="margin:0; font-size: 2px;">&nbsp;</p>

  <div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
      <h3 class="panel-title">Share on social sites</h3>
      <div class="blog-entries">
        {{ partial "banners/social-linking" . }}
      </div>
    </div>
  </div>

  {{ if (.Params.githublink) }}
    {{ partial "widgets/githubLink" . }}
  {{ end  }}

  {{ if (.Params.toc_needed) }}
    {{ partial "widgets/toc" . }}
  {{ end }}

  {{ partial "banners/sidebar" . }}

  <div class="panel panel-default sidebar-menu" style="margin-bottom: 20px;">
    <h3 class="panel-title">Also find me here</h3>
    <div style="background-color: #fff; padding-top: 4px; border: solid #a5a5af 3px;">
      <a href="https://twitter.com/thecoderscorner"><img title="Twitter profile" alt="twitter" src="/img/empty.png" class="mc-twitter-small"/></a>
      <a href="https://www.facebook.com/TheCodersCornercom-6919542285/?hc_ref=NEWSFEED"><img title="Facebook page" alt="facebook" src="/img/empty.png" class="mc-facebook-small"/></a>
      <a href="https://www.linkedin.com/in/davejcherry"><img title="LinkedIN profile" alt="linkedin" src="/img/empty.png" class="mc-linkedin-small"/></a>
      <a href="https://www.youtube.com/channel/UCIW7vBUMrfF33mUsfFaL6CA"><img title="Youtube Channel" alt="youtube" src="/img/empty.png" class="mc-youtube-small"/></a>
      <a href="https://github.com/davetcc"><img title="Github profile" alt="github profile" src="/img/empty.png" class="mc-github-small"/></a>
    </div>
  </div>

  {{ partial "widgets/search" . }}

  {{ partial "widgets/recentRelatedPosts" . }}

  <p style="margin:0; font-size: 2px;">&nbsp;</p>
</div>

