<div class="sidebar">
  <p style="margin:0; font-size: 2px;">&nbsp;</p>

  <div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
      <h3 class="panel-title">Share on social sites</h3>
      <div class="blog-entries">
        {{ partial "banners/social-linking" . }}
      </div>
    </div>
  </div>

  {{ if .Params.githublink }}
    {{ partial "widgets/githubLink" . }}
  {{ end  }}

  {{ if .File }}
    <a class="github-link" title='{{T "Edit-this-page"}}' href="{{ .Site.Params.gitEditURL }}{{ replace .File.Dir "\\" "/" }}{{ .File.LogicalName }}" target="blank">
      <span id="top-github-link-text">Correct or Improve this page</span>
    </a>
  {{ else }}
    <a class="github-link" title='{{T "Edit-this-page"}}' href="#" target="blank">
      <span id="top-github-link-text">Correct or Improve this page</span>
    </a>
  {{ end }}

  {{ if (.Params.toc_needed) }}
    {{ partial "widgets/toc" . }}
  {{ end }}

  {{ partial "banners/sidebar" . }}

  {{ partial "widgets/search" . }}

  {{ partial "widgets/recentRelatedPosts" . }}

  <p style="margin:0; font-size: 2px;">&nbsp;</p>
</div>

