<div class="socialButtons">
    <h4><span>You'll also find me on:</span></h4>
    <a href="https://www.facebook.com/TheCodersCornercom-6919542285/?hc_ref=NEWSFEED"><img alt="facebook" src="/products/arduino-libraries/img/empty.png" class="mc-facebook"/></a>
    <a href="https://twitter.com/thecoderscorner"><img alt="twitter" src="/products/arduino-libraries/img/empty.png" class="mc-twitter"/></a>
    <a href="https://www.instagram.com/davecherry7200/"><img alt="instagram" src="/products/arduino-libraries/img/empty.png" class="mc-instagram"/></a>
    <a href="https://www.linkedin.com/in/davejcherry"><img alt="linkedin" src="/products/arduino-libraries/img/empty.png" class="mc-linkedin"/></a>
    <a href="https://www.youtube.com/channel/UCIW7vBUMrfF33mUsfFaL6CA"><img alt="youtube" src="/products/arduino-libraries/img/empty.png" class="mc-youtube"/></a>
</div>
