<div class="panel panel-default sidebar-menu" style="margin-bottom: 20px;">
    <h3>Supporting us</h3>
    <ul style="list-style-type: none; margin-top: 0;">
        <li><a href="https://github.com/sponsors/davetcc">Sponsor on GitHub</a>.</li>
        <li><a href="https://www.thecoderscorner.com/support-services/training-support/">Buy Consultancy/Support</a></li>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="davetcc" data-color="#5F7FFF" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
    </ul>
</div>
<p style="text-align: center;" >
    <a href="/products/arduino-libraries/tc-menu/"><img style="max-width: 95%;" src="/images/front/tcMenu-banner.png" alt="tcMenu for Arduino"/></a>
</p>