<div class="fwContainer">
    <nav class="navbar blog-header">
        <div class="siteHeading">
            <button class="navbar-toggler" type="button" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                &#9776;
            </button>
            <a class="navbar-brand" href="/">
                <img class="logoImage" src="/products/arduino-libraries/img/logo.png" alt="The Coders Corner for Audio, Embedded, Arduino and JavaJVM" />
            </a>
            {{ if ne (.Site.Params.production) "Y" }}
            <span style="background-color: red; color: white;">DEV Test</span>
            {{ end }}
        </div>
        <div class="topMenuArea collapse" id="mainMenu">
            <ul class="nav navbar-nav" >

                {{ if eq (.Site.Params.production) "Y" }}
                <li class="nav-item"><a class="img-link menu-item" href="/"><img src="/products/arduino-libraries/img/logo-small.png" alt="The coders corner logo"/></a></li>
                <li class="nav-item" ><a id="products" class="nav-link menu-item dropdown-toggle" href="/products">Products</a></li>
                <li class="nav-item" ><a id="support-help" class="nav-link menu-item dropdown-toggle" href="/support-help">Community Help</a></li>
                <li class="nav-item" ><a id="support-services" class="nav-link menu-item dropdown-toggle" href="/support-services">Commercial Services</a></li>
                <li class="nav-item" ><a id="electronics" class="nav-link menu-item dropdown-toggle" href="/electronics">Electronics</a></li>
                <li class="nav-item" ><a id="team-blog" class="nav-link menu-item dropdown-toggle" href="/team-blog">Developer Blog</a></li>
                <li class="nav-item" ><a id="all-contact" class="nav-link menu-item" href="/all-contact">Contact</a></li>
                {{ else }}
                {{ $currentNode := . }}
                {{ range .Site.Menus.main.ByWeight }}
                <li class="nav-item" >
                    <a id="{{ .Identifier }}" class="nav-link menu-item" href="{{.URL}}">{{ .Name }}</a>
                </li>
                {{end}}
                {{ end }}
            </ul>
        </div>
    </nav>
</div>
<div class="content-start">