<div class="fwContainer">
    <nav class="navbar blog-header">
        <div class="siteHeading">
            <button class="navbar-toggler" type="button" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                &#9776;
            </button>
            <div>
                <img class="logoImage" src="{{ .Site.BaseURL }}/img/tcMenu-banner.png" alt="TcMenu framework components : Arduino, ESP32, PicoSDK, mbed" />
                <a style="float: right; color:blue !important;" class="nav-link menu-item" href="https://github.com/TcMenu/">[TcMenu GitHub]</a>
            </div>

        </div>
        <div class="topMenuArea collapse" id="mainMenu">
            <ul class="nav navbar-nav" >
                <li class="nav-item"><a class="nav-link menu-item" href="{{ .Site.BaseURL }}">Home</a></li>
                <li class="nav-item" ><a class="nav-link menu-item" href="{{ .Site.BaseURL }}/arduino-libraries/tc-menu">TcMenu</a></li>
                <li class="nav-item" ><a class="nav-link menu-item" href="{{ .Site.BaseURL }}/arduino-libraries/io-abstraction">IoAbstraction</a></li>
                <li class="nav-item" ><a class="nav-link menu-item" href="{{ .Site.BaseURL }}/arduino-libraries/tc-unicode-helper">TcUnicode</a></li>
                <li class="nav-item" ><a class="nav-link menu-item" href="{{ .Site.BaseURL }}/arduino-libraries/taskmanager-io">TaskManagerIO</a></li>
                <li class="nav-item" ><a class="nav-link menu-item" href="{{ .Site.BaseURL }}/arduino-libraries/simple-collections">SimpleCollections</a></li>
                <li class="nav-item" ><a class="nav-link menu-item" href="{{ .Site.BaseURL }}/arduino-libraries/liquidcrystal-io">LiquidCrystalIO</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="content-start">